<div ng-controller="forgotPasswordCtrl as forgotPasswordCtrl">
    <h1 class="header">Retrieve password</h1>
    <div>
        <div ng-if="!forgotPasswordCtrl.isExists"  class="forgot-password-form">
            <input class="form-input" type="text" ng-model="forgotPasswordCtrl.userName" placeholder="Enter user name"/>
            <br/>
            <input type="button" ng-disabled="!forgotPasswordCtrl.userName"
                   ng-click="forgotPasswordCtrl.getSecurityQuestion()" value="Retrieve"/>
        </div>
        <div ng-if="forgotPasswordCtrl.isExists"  class="forgot-password-form">
            <div style="font-weight: bold; text-decoration-line: underline" >Please answer the following question:</div>
            <br/>
            <div>{{forgotPasswordCtrl.user.UserQuestion}}?</div>
            <br/>
            <input type="text" placeholder="your answer" ng-model="forgotPasswordCtrl.userAnswer"/>
            <br/>
            <input type="button" value="send" ng-click="forgotPasswordCtrl.checkAnswer()"/>
        </div>
    </div>

    <div ng-if="forgotPasswordCtrl.isErrorMessageShown" class="register-message-error">Incorrect username</div>
    <div ng-if="forgotPasswordCtrl.isWrongAnswerMessageShown" class="register-message-error">Incorrect answer</div>

</div>