<div ng-controller="homeCtrl as homeCtrl">
    <div>
        <h1>Trending items:</h1>
        <div ng-repeat="item in homeCtrl.top5Items">
            <item item="item"></item>
        </div>
        <div ng-if="homeCtrl.isNoPopularItemsMessageShow" style="color:red">Sorry, there are no trending items</div>
    </div>
    <div ng-show="homeCtrl.loginService.isloggedIn">
        <h1 >Top new items:</h1>
        <div ng-repeat="item in homeCtrl.newItems">

        </div>
        <div ng-if="homeCtrl.isNoNewItemsMessageShow" style="color:red">Sorry, there are no new items</div>
    </div>
</div>