<div ng-controller="loginCtrl as loginCtrl">
    <h1 id="login-header">Login</h1>
    <div id="login-form">
        <input class="form-input" type="text" ng-model="loginCtrl.userName" placeholder="Enter user name"/>
        <input class="form-input" type="password" ng-model="loginCtrl.password" placeholder="Enter password"/>
        <input type="button" value="login" ng-click="loginCtrl.login()" ng-disabled="!(loginCtrl.userName && loginCtrl.password)"/>
    </div>
    <div ng-show="loginCtrl.isErrorMessageShown" style="color:red">User name and password are incorrect</div>
</div>