<div ng-controller="registerCtrl as registerCtrl">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Register</h1>
            <hr>
            <form name="registerForm" ng-submit="registerCtrl.submitForm(registerForm.$valid)" novalidate>
                <div>
                    <h4 id="loginText"><label>Username</label></h4>
                    <input type="text" name="username" ng-model="registerCtrl.user.username"
                           placeholder="Enter User Name"
                           ng-minlength="registerCtrl.usernameMinChars"
                           ng-maxlength="registerCtrl.usernameMaxChars"
                           ng-pattern="/^[a-zA-Z]*$/"
                           required>

                    <div class="ngMessageClass register-message-error" ng-messages="registerForm.username.$error"
                         ng-if="registerForm.username.$touched">
                        <p ng-message="minlength">Username must contain at least {{registerCtrl.usernameMinChars}}
                            letters</p>
                        <p ng-message="maxlength">Username must contain at most {{registerCtrl.usernameMaxChars}}
                            letters</p>
                        <p ng-message="required">Username is required</p>
                        <p ng-message="pattern">Invalid username - must contain only letters</p>
                    </div>
                </div>
                <br>

                <div>
                    <h4 id="loginText"><label>Password</label></h4>
                    <input type="password" name="password" ng-model="registerCtrl.user.password"
                           placeholder="Enter Password"
                           ng-minlength="registerCtrl.passwordMinChars"
                           ng-maxlength="registerCtrl.passwordMaxChars"
                           ng-pattern="/^[a-zA-Z0-9]*$/"
                           required>

                    <div class="ngMessageClass register-message-error" ng-messages="registerForm.password.$error"
                         ng-if="registerForm.password.$touched">
                        <p ng-message="minlength">Password must contain at least {{registerCtrl.passwordMinChars}}
                            chars</p>
                        <p ng-message="maxlength">Username must contain at most {{registerCtrl.passwordMaxChars}}
                            chars</p>
                        <p ng-message="required">Password is required</p>
                        <p ng-message="pattern">Invalid password - must contain only letters and numbers</p>
                    </div>
                </div>
                <br>

                <div>
                    <h4 id="loginText"><label>Email</label></h4>
                    <input type="email" name="email" ng-model="registerCtrl.user.email" required
                           placeholder="Enter Email Address"/>

                    <div class="ngMessageClass register-message-error" ng-messages="registerForm.email.$error"
                         ng-if="registerForm.email.$touched">
                        <p ng-message="required">Email is required</p>
                        <p ng-show="registerForm.email.$error.email">Invalid email</p>
                    </div>
                </div>
                <br>

                <div>
                    <h4 id="loginText"><label>Security Question</label></h4>
                    <input type="text" name="sQuestion" ng-model="registerCtrl.user.sQuestion" required
                           placeholder="Enter A Security Question"/>

                    <div class="ngMessageClass register-message-error" ng-messages="registerForm.sQuestion.$error"
                         ng-if="registerForm.sQuestion.$touched">
                        <p ng-message="required">Security question is required</p>
                    </div>
                </div>
                <br>

                <div>
                    <h4 id="loginText"><label>Security Answer</label></h4>
                    <input type="text" name="sAnswer" ng-model="registerCtrl.user.sAnswer" required
                           placeholder="Enter A Security Answer"/>

                    <div class="ngMessageClass register-message-error" ng-messages="registerForm.sAnswer.$error"
                         ng-if="registerForm.sAnswer.$touched">
                        <p ng-message="required">Security answer is required</p>
                    </div>
                </div>
                <br>

                <div>
                    <h4 id="loginText"><label>Country</label></h4>
                    <select ng-model="registerCtrl.user.country" name="country"
                            ng-options='country for country in registerCtrl.countries'
                            required>
                        <option value="" disabled selected>Select A Country</option>
                    </select>

                    <div class="register-message-error ngMessageClass" ng-messages="registerForm.country.$error"
                         ng-if="registerForm.country.$touched">
                        <p ng-message="required">Country is required.</p>
                    </div>
                </div>
                <br>

                <div>
                    <h4 id="loginText"><label>Currency</label></h4>
                    <select ng-model="registerCtrl.user.currency" name="currency"
                            ng-options='currency for currency in registerCtrl.currencies'
                            required>
                        <option value="" disabled selected>Select A Currency</option>
                    </select>

                    <div class="register-message-error ngMessageClass" ng-messages="registerForm.currency.$error"
                         ng-if="registerForm.currency.$touched">
                        <p ng-message="required">Currency is required.</p>
                    </div>
                </div>
                <br>

                <div>
                    <input type="submit" value="Submit" ng-disabled="!registerForm.$valid"
                           class="btn btn-primary btn-xl"/>
                </div>
            </form>
        </div>
    </div>
</div>
